.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.aboutLeft {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutRight {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-top: 50px;
  width: 50%;
}

.aboutRight p {
  width: 80%;
}

.about .aboutRight h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    height: auto;
  }
  .aboutLeft,
  .aboutRight {
    width: 100%;
    height: 100%;
  }
}
